.Admin-container {
    background-color: #F2FDFF;
    /* background-image: url("https://wallpapers.com/images/hd/purple-light-in-galaxy-background-l39vbu2x2yed4jw6.jpg");
    background-size: 100%;
    background-attachment: fixed; */
    overflow: hidden;
    min-height: 100vh;
  }
  .Header_Admin {
    float: left;
    width: 18%;
    z-index: 4;
  }
  
  .Site_Admin_Right {
    width: 82%;
    float: right;
    max-height: 100vh;
    overflow: auto;
  }
  
  .TopBar_Admin {
    position: fixed;
    width: 82%;
    z-index: 3;
  }
  
  .Noidungchinh_Admin {
    padding: 80px 10px;
  }
  
  @media (max-width: 1300px) {
    .Site_Admin_Right {
      width: 70%;
      overflow: auto;
  
    }
    .TopBar_Admin {
      position: fixed;
      width: 70%;
    }
    .Header_Admin {
      width: 30%;
      position: fixed;
    }
    .Noidungchinh_Admin {
      padding: 80px 10px;
    }
  }
  
  @media (max-width: 768px) {
    .Site_Admin_Right {
      width: 100%;
      overflow: auto;
    }
    .TopBar_Admin {
      position: fixed;
      width: 100%;
    }
    .Header_Admin {
      position: fixed;
      width: 50%;
    }
    .Noidungchinh_Admin {
      padding: 80px 10px;
    }
  }
  
  @media (max-width: 480px) {
    .Site_Admin_Right {
      width: 100%;
      overflow: auto;
    }
    .Header_Admin {
      position: fixed;
      width: 70%;
    }
  }
  